.footer
	background: $c-5
	margin: 0 0
	padding: 60px 0 15px 0
	.container
		max-width: 1200px
.footer-pad
	color: $blanco
	text-align: left
	font-size: 14px
	h4
		font-size: 12px
		font-weight: normal
		color: $blanco
		margin: 0 0 25px 0
		text-transform: uppercase
	p
		margin: 0
		font-size: 14px
		line-height: 1.1
	a
		color: $c-6
	li 
		margin: 0 0 20px 0
		&:last-child
			margin-bottom: 0
.listado-precio-footer
	border: 1px solid $c-6
	font-size: 12px
	text-transform: uppercase
	padding: 12px 8px
	margin-top: 30px
	a
		position: relative
		color: $blanco !important
		padding-left: 25px
		display: block
		margin: auto
		padding-top: 3px
		&:before
			font-size: 16px
			content: "\e90c"
			position: absolute
			top: 0
			left: 0
			font-family: icomoon
.socials-ctn
	display: flex
	justify-content: center
	a
		width: 35px
		height: 35px
		position: relative
		font-size: 12px
		line-height: 35px
		margin-right: 10px
		&:after
			position: absolute
			top: 0
			left: 0
			content: "\e912"
			width: 100%
			height: 100%
			font-size: 32px
			opacity: 0
			transition: all .4s ease-in-out
		&:last-child
			margin-right: 0
.footer-bottom
	margin-top: 75px
	color: $c-6
	font-size: 14px
	border-top: 1px solid $c-6
	padding-top: 15px
	p 
		margin: 0
	a 
		color: $c-6
.creditos-right
	text-align: right
.footer-logo-sub
	padding-right: 0
.logo-footer
	max-width: 85px
	border: 1px solid $blanco
	padding: 20px 5px
	box-sizing: border-box
	img 
		display: block
.footer-direccion
	font-size: 14px
	color: $c-6
	line-height: 1.2
	padding-left: 40px
	p 
		margin: 7px 0 10px 0
	a
		color: $blanco
.footer-redes
	padding-left: 0
	ul
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	li
		width: 40%
		margin: 0 0 18px 0
		text-align: center
		line-height: 40px
	a 
		color: $c-6
		width: 100%
		border: 1px solid $c-6
		margin: 0
		padding: 0
		display: block
		height: 40px
		line-height: 40px
		font-size: 15px
		transition: all .3s ease-in-out
@media screen and (min-width: 1025px)
	.footer-redes
		a:hover
			background: $blanco
			text-decoration: none
@media screen and (max-width: 991px)
	.footer-redes, .footer-logo
		display: none
	.footer-creditos
		text-align: center
@media screen and (max-width: 767px)
	.footer
		padding: 20px 0
	.footer-middle
		.container
			padding-bottom: 20px
			.row
				justify-content: center
	.footer-ctn-sub
		margin-bottom: 20px
		&:nth-child(3)
			margin-bottom: 0
@media screen and (max-width: 480px)
	.footer-ctn-sub
		max-width: 100% 
		flex: 0 0 100%