@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sgroa0');
  src:  url('../fonts/icomoon.eot?sgroa0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sgroa0') format('truetype'),
    url('../fonts/icomoon.woff?sgroa0') format('woff'),
    url('../fonts/icomoon.svg?sgroa0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icono:before {
  content: "\e900";
}
.icon-icono2:before {
  content: "\e901";
}
.icon-ICONOS-012:before {
  content: "\e902";
}
.icon-ICONOS-022:before {
  content: "\e903";
}
.icon-ICONOS-032:before {
  content: "\e904";
}
.icon-ICONOS-042:before {
  content: "\e905";
}
.icon-ICONOS-052:before {
  content: "\e906";
}
.icon-ICONOS-062:before {
  content: "\e907";
}
.icon-ICONOS-072:before {
  content: "\e908";
}
.icon-ICONOS-082:before {
  content: "\e909";
}
.icon-ICONOS-16:before {
  content: "\e95f";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}

